h1, h2, h3, h4 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding: 0;
}

.ms-md-auto, .mx-auto {
    margin-left: auto !important;
}

.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
    background-color: #e6e6e6;
    border-right: 2px solid;
    font-weight: normal;
}

.navitem.active,
.dropdown.active {
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

hr {
    margin-top: 2em;
    margin-bottom: 2em;
}

li > img {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.admonition, details {
    /*padding: 15px;
    margin-bottom: 20px;*/
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: left;
}

.admonition.note, .admonition.note > .admonition-title {
    border-color: #1a6dca;
    padding-bottom: 0;
}

.admonition.note > .admonition-title {
    background-color: transparent;
    border-bottom: none;
    color: #2e6b89;
    font-weight: bold;
}

.admonition.note, details.note {
    color: #2e6b89;
    background-color: #e2f0f7;
    border-color: #bce8f1;
}